<div class="row card p-3 pt-1 pb-0 d-flex justify-content-center" style="width: 80%;">
  <h2>Current Post Details:</h2>

  <section class="card bg-dark p-3 text-light">
    <div class="d-flex justify-content-center">
      <h4 class="me-2">
        Title:
      </h4>
      <h4 style="color: aquamarine;" style="width: 100%;">
        {{title}}
      </h4>
    </div>
    <div class="d-flex justify-content-center">
      <h4 class="me-2">
        Description:
      </h4>
      <h4 style="color: aquamarine;" style="width: 100%;">
        {{content}}
      </h4>
    </div>
  </section>
  <br />
  <br />

  <section class="edit-post-container">
    <h4>Update Post</h4>
    <section class="card bg-dark p-3 text-light justify-content-center">
      <form class="row edit-post-form justify-content-center">
        <section>
          <label for="row title">
            <h5 style="color: aquamarine;">Post Title:</h5>
          </label>
          <textarea id="title" name="title" rows="1" style="width: 100%;">{{title}}</textarea>
          <br />
          <label for="description">
            <h5 style="color: aquamarine;">Description:</h5>
          </label>
          <textarea id="description" name="description" rows="2" style="width: 100%;">{{content}}</textarea>
        </section>
        <section class="form-group d-flex justify-content-center mt-4">
          <button class="btn btn-primary update me-4" value="Submit">Update</button>
          <button class="btn btn-danger delete" data-id="{{id}}">Delete</button>
        </section>

      </form>
    </section>
    <br>
  </section>

</div>



{{#if logged_in}}
<script src="/js/editPost.js"></script>
{{/if}}